@import '../style/colors';

.Header {
  background-color: $color-primary;
  border-top: 20px solid $color-primary-dark;
  color: $color-light-text;
  padding: 0px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .Header__icon {
    width: 30px;
    height: 30px;
    fill: $color-light-text;
  }

  .Header__title {
    display: inline-block;
    margin: 5px;
    font-weight: normal;
  }

  .Header__buttons {
    height: 30px;
    margin-left: auto;
  }
}