$color-primary-dark: #F57C00;
$color-primary-light: #FFE0B2;
$color-primary: #FF9800;
$color-accent: #9E9E9E;

$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-light-text: #FFFFFF;
$color-divider: #BDBDBD;